{% extends 'layout2.html' %}

{% block body %}
  <h1>Attendance</h1>

   {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{render_field(form.studname, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.date, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.present, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.remark, class_="form-control")}}
    </div>
    <p><input type="submit" class="btn btn-primary" value="Save"></p>
  </form>

  
  


  
{% endblock %}